@*@model Quizzing.Web.Models.Quiz*@
@model DetailsQuizViewModel
@{int i = 1;}


@{
    ViewData["Title"] = "Details Quiz";
}

<h1>@Html.DisplayFor(model => model.Quiz.Title)</h1>


<table class="table">
    <thead>
       
    </thead>
    <tbody>
        @if (Model.Questions.Any())
        {
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td>
                        @(i++) - @Html.DisplayFor(modelItem => question.QuestionText)
                    </td>
                    <td>
                        <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.QuestionId">See Answers</a> |
                        <a asp-action="Edit" asp-route-id="@question.QuizId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@question.QuizId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row">
                    <h4 class="alert-heading alert-info">There are no questions for the requested quiz.</h4>
                </th>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Quiz.QuizId">Edit Quiz</a> |
    <a asp-action="Delete" asp-route-id="@Model.Quiz.QuizId">Delete Quiz</a> |

    <a asp-action="Index">Back to List</a>
</div>


