@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model DetailsQuizViewModel

@{int i = 1;}

@{
    ViewData["Title"] = "Details Quiz";
}

<h1>Quiz - @Html.DisplayFor(model => model.Quiz.Title)</h1>

@if (Model.Questions.Any())
{
    @foreach (var question in @Model.Questions)
    {
        <div class="card my-3">
            <div class="card-header card-title">
                <h4>@(i++) - @Html.DisplayFor(modelItem => question.QuestionText) </h4>
            </div>
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("edit") || User.IsInRole("view")))
            {
                <div class="card-body">

                    <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.QuestionId">See Answers</a>
                </div>
            }
        </div>
    }
}
else
{
    <div class="pt-4">
            <h4 class="alert-heading alert-info">There are no questions for the requested quiz.</h4>
    </div>
}
        

<div>
    <a asp-action="Index">Back to List</a>
</div>