@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model IEnumerable<Quizzing.Web.Models.Quiz>

@{
    ViewData["Title"] = "List of Quizzes";
    ViewData["Info"] = TempData["info"];
}

@if (TempData["info"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading"> @TempData["info"] </h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>List of Quizzes</h1>

<div class="pb-4 pt-2">
    <a class="btn btn-primary" asp-action="Create">Create New Quiz</a>
</div>
<table class="table table-hover pt-5">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr class="col-10">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.QuizId">See Questions</a>

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("edit"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.QuizId"> | Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.QuizId"> | Delete</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row">
                    <h4 class="alert-heading alert-info">There are no quizzes.</h4>
                </th>
            </tr>
        }
    </tbody>
</table>
