@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model IEnumerable<Quizzing.Web.Models.Quiz>

@{
    ViewData["Title"] = "Index - Quizzes";
}

<h1>List of Quizzes</h1>

<p>
    <a asp-action="Create">Create New Quiz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.QuizId">See Questions</a>

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("edit"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.QuizId"> | Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.QuizId"> | Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
