@model EditQuestionViewModel

@{
    string[] letters = new[] { "A", "B", "C", "D", "E" };
}

@{
    ViewData["Title"] = "Edit Question";
}

<h1>Edit Question</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.QuizId" />
            <input type="hidden" asp-for="Question.QuestionId" />
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Text" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Answers.Any())
{
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Answers.Count(); i++)
            {
                <tr>
                    <td colspan="5">
                        @(letters[i]) - @Html.DisplayFor(modelItem => @Model.Answers[i].AnswerText)
                    </td>
                    <td colspan="1">
                        @if (@Model.Answers[i].IsCorrect)
                        {
                            <h6 class="text-info">CORRECT </h6>
                        }
                    </td>

                    <td colspan="2">
                        <a asp-controller="Answers" asp-action="Edit" asp-route-id="@Model.Answers[i].AnswerId">Edit</a> |
                        <a asp-controller="Answers" asp-action="Delete" asp-route-id="@Model.Answers[i].AnswerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <tr>
        <th scope="row">
            <h4 class="alert-heading alert-info">There are no answers for the requested question.</h4>
        </th>
    </tr>
}

<div>
    <input type="hidden" asp-for="Question.QuestionId" />
    <a asp-controller="Answers" asp-action="Create" asp-route-id="@Model.Question.QuestionId">Add answer | </a>
    <a asp-controller="Quizzes" asp-action="Edit" asp-route-id="@Model.Question.QuizId">Back to Quiz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
